@font-face {
    font-family: 'IntroLightAlt';
    src: url(../fonts/Intro-Light-Alt.otf)
}
body {
    font-family: IntroLightAlt;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 16px;
}

/* Navigation menu style sheet started */
.do-main-nav-wrapper {
    width: 100%;
    height: 65px;
    /* background: #E60017; */
    /* background: #FF5F5B; */
    /* background: #EB0018; */
    background: #010A26;
}
.do-navbar-header {
    display: inline-block;
}
.do-nav-wrapper {
    margin-left: 25%;
    display: inline-block;
}
.do-nav-wrapper ul.do-menus li {
    display: inline-block;
    list-style-type: none;
    margin-top: 12px;
    padding: 8px 13px;
}
.do-nav-wrapper ul.do-menus li a {
    display: block;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;  
}
.do-nav-wrapper ul .do-book-table-btn {
    color: #000;
    padding: 10px 17px;
    border-radius: 13px;
    border: 1px solid yellow;
    background: yellow;
    text-decoration: none;
}

/* Navigation menu style sheet end */

body {
    /* background: #C2A606; */
    /* background: #FFE684; */
    /* background: #D9AC84; */
    background: #D9042B;
}
h1{
    font-weight: bold;
    margin: 21px;
    padding: 21px;
    border-radius: 8px;
    text-align: center;
    color: #FFF;
    font-size: 21px;
    background: #FFDA08;
    box-shadow: 0 8px 13px rgba(0,0,0,0.1), 0 3px 5px rgba(0,0,0,0.1);
} 
.eee {
    height: 500px;
}
/* -------------------------------------------------

        Footer Section Style Sheet Started

---------------------------------------------------- */
.do-footer-wrapper {
    /* background: #EB0018; */
    /* background: #010A26; */
    background: #A6634B;
    /* height: 120px; */
}
